* {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: #FFFFFF;
    text-decoration: none;
}


       /* CABEÇALHO (LOGO E ICONS) */

header{
    background-color: black;
}

.menu {
    color: black;
    background-color: #830000;
    font-weight: 6px;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fone {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    margin-top: 50px;
}

header a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

#carrinho {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    margin-top: 55px;
}

#logo {
    left: 133.82px;
    top: -16px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-right: 410px;
}

.avatar2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

#logodoavatar {
    width: 356px;
    height: 90px;
}

#login {
    position: absolute;
    margin-left: 40px;
    margin-top: 25px;
    font-size: 27px;
    color: #FFFFFF;
    
}

.menu_top {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: flex-end;
}

            /* DESTAQUES E PRODUTOS */

body {
    background-color: #242424;
}

#destques {
    background-color: #830000;
    color: white;
    border-radius: 50px;
    height: 62px;
    width: 460px;
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
    font-size: 45px;
}

.bannerprodutos {
   display: flex;
   position: relative;
   justify-content: space-around;
   align-items: center;
   margin-top: 50px;
   
}

#comprar1 {
    background-color: #830000;
    position: absolute;
    color: white;
    border-radius: 50px;
    width: 260px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: 400px;
}

#comprar2 {
    background-color: #830000;
    position: absolute;
    color: white;
    border-radius: 50px;
    width: 260px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: 400px;
    margin-left: 800px;
}

#comprar3 {
    background-color: #830000;
    position: absolute;
    color: white;
    border-radius: 50px;
    width: 260px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: 400px;
    margin-right: 800px;
}

             /* SESSAO DE VEJA MAI ATIVIDADES */

#quadrado {
    margin-top: 70px;
    color: #FFFFFF;
    padding: 20px;
    font-size: 65px;
    display: flex;
    justify-content: space-around;
   align-items: center;
}

#quadvermelho {
    background-color: #830000;
    width: 400.98px;
    height: 259.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

            /* SESSAO PESQUISA E REDES SOCIAIS */

#campodebusca {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

#pesquisa {
    position: absolute;
    width: 684px;
    height: 44.91px;   
    background: rgba(255, 255, 255, 0.58);
    border-radius: 50px;
}

#pesquisa::placeholder {
    color: #FFFFFF;
    padding: 12px 16px 14px;
    text-decoration: underline;
}

.inpt {
    border: none;   
    padding: 5px 240px;
    font-size: 20px;
    text-align: left;
}

#busca {
    margin-left: 620px;
    font-weight: 400;
}

#tituloredes {
    background-color: #830000;
    color: white;
    height: 70px;
    width: 750px;
    display: flex;
    margin-top: 55px;
    align-items: center;
    justify-content: center;
    margin-left: 320px;
    font-size: 38px;
}

.imagensredes {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
            /* SESSAO DO CADASTRO E ENDEREÇO */

.coracao {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

#linhal {
    display: flex;
    justify-content: left;
    margin-top: 80px;
    width: 270px;
    height: 30px;
}

#linhar {
    margin-top: 75px;
    width: 270px;
    height: 30px;
}

#titlecadastro {
    position: absolute;
    color: #FFFFFF;
    font-size: 50px;
    margin-top: 58px;
    margin-left: 60px;
}

.cadastro {
    display: flex;
    align-items: center;
    justify-content: left;
}

#barra::placeholder {
    color: #847D7D;
    font-size: 25px;
    padding: 30px 20px 20px;
    margin-top: 50px;
}

#barra {
    padding: 30px 20px 20px;
    width: 436.36px;
    height: 50px;
    left: 29.67px;
    top: 3134px;
    margin-left: 50px;
}

#botao {
    background-color: #830000;
    width: 229.89px;
    height: 68px;
    border-radius: 50px;
    color: #FFFFFF;
    margin-left: 90px;
    font-size: 40px;
}
            
.endereco {
    background-color: #3D3D3D;
    color: #FFFFFF;
}

#titleend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

    font-size: 45px;
}

#text {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    font-size: 28px;
    
} 

#baner2 {
    display: flex;
    justify-content: center;
}

            /* RODAPE */

footer {
    width: 1349px;
    height: 513.72px;
    left: 0px;
    top: 3980px;
    
    background: linear-gradient(180deg, #830000 0%, rgba(131, 0, 0, 0) 100%);
}

#tituloinst {
    position: absolute;
    width: 243.73px;
    height: 52.24px;
    left: 25px;
    top: 4060px;
    font-style: normal; 
    font-weight: 400;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

#tituloatend {
    position: absolute;
    width: 259.69px;
    height: 52.24px;
    left: 520px;
    top: 4060px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;

    display: flex;
    align-items: center;
    text-align: center;   
}

#texto1 {
    position: absolute;
    margin-left: 100px;
    margin-top: 105px;
    color: #242424;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    flex-direction: column;
}

#texto2 {
    position: absolute;
    width: 335px;
    height: 142px;
    left: 490px;
    top: 4120px;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulofaq {
    position: absolute;
    width: 243.73px;
    height: 52.24px;
    top: 4365px;
    font-style: normal; 
    font-weight: 400;
    font-size: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
}

#faq:hover {
    color: #242424;
    text-decoration: none;
}

.pergufaq {
    position: absolute;
    width: 251.18px;
    height: 36.76px;
    left: 100px;
    top: 4420px;
    color: #FFFFFF;
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
}

#inst:hover {
    color: #242424;
    text-decoration: none;
}

#logofooter {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 990px;
    top: 4150px;
}

.imgfooter {
    display: flex;
    flex-direction: column;
    margin-left: 520px;
}

#redesocial {
    position: relative;
    margin-right: 30px;
    top: 300px;
    width: 73px;
    height: 66px;
    border-radius: 15px;
}

#social {
    position: relative;
    margin-right: 30px;
    margin-top: 15px;
    top: 300px;
    width: 73px;
    height: 66px;
    border-radius: 15px;
}

#rodape {
    position: absolute;
    left: 28px;
    top: 4530px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}