* {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #000;
    color: #ffff;
}

.figura {
    display: flex;
    align-items: center;
}

#imagemcentro {
    margin-left: 580px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.usuario {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

}

#email {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: 35px;
}

#senha {
    margin-top: 7px;
    margin-bottom: 15px;
    width: 250px;
    height: 35px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cadastro {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffff;
}

input::placeholder {
    font-size: 20px;
    color: #000;
    padding: 5px;
}

#botao {
    background-color: #830000;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entre {
    font-size: 20px;
    color: #ffff;
}
